.imgAndText {
    background-color: #fbf0d8;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    width: 400px;
    
}


.imgAndText img {
    width: 400px;
}

.imgAndText p {
    margin: 1rem;
    color: black;
    text-align: center;
}